@font-face {
	font-family: "PerryGothic";
	src: url("./assets/fonts/PERRYGOT.TTF") format("truetype");
	font-weight: normal;
	font-style: normal;
}

input {
	font-family: "Arial" !important;
}

* {
	font-family: "PerryGothic", sans-serif;
}

canvas {
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
